{% extends 'navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <h2 style="margin-top:20px" align="center">Change Password</h2>
    <hr>

    <div class="container-fluid" style="width:70%;margin-top:10%">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="pwd3" required>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="pwd1" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="pwd2" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% if error == "yes" %}
<script>
    alert('Password changed sucessfully.');
    window.location.href = '{% url "logout" %}';
</script>
{% elif error == "not" %}
<script>
    alert('New Password and Confirm Password do not match');
</script>
{% endif %}

{% endblock %}
