{% extends 'navigation.html' %}
{% block body %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      

      <div class="container-fluid">
      <center><h2 style="color:red">View Product</h2></center>
<hr>
 <div class="container-fluid">
   	<h1 class="text-center mt-5 mb-5">
   	</h1>
	 <h2>{{cat1.name}}</h2><hr>
   	<div id="{{i.id}}" class="carousel slide" data-ride="carousel">
   		<div class="carousel-inner row w-100 mx-auto">
			{% for j in pro1 %}
				<div class="carousel-item col-md-3 active"><div class="card">
					<center><img class="card-img-top img-fluid" align="center" src="{{j.image.url}}" style="width:160px;height:170px;float:center" alt="card-img"></center>
   						<div class="card-body">
   						<h4 class="card-title">{{j.name}} Rs.{{j.price}}</h4>
   						<p class="card-text">{{j.desc}}</p>
   						<form align="center" action="{% url 'add_cart' j.id %}" method="post">
	                        {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>
   					</div>
   				</div>
   			</div>
			{% endfor %}
		</div>
	</div>
 </div>

      </div></div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}